.container {
  width: min(90%, 895px);
  margin: 0 auto;
}

.my-order-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.my-order-list .my-order-list-item {
  border-bottom: 1px solid #EDEEF2;
}
.my-order-list .my-order-list-item__heading {
  background: #F6F6F6;
  border-radius: 8px;
  padding: 28px 47px 28px 47px;
}
.my-order-list .my-order-list-item__heading-title {
  margin-bottom: 14px;
}
.my-order-list .title-h5 {
  color: #3C4242;
  font-family: "Causten", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}