@import "reset.css";

body {
  height: 100%;
}

main {
  height: 100%;
}

.container {
  width: min(90%, 1120px);
  margin: 0 auto;
}

.car {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  font-size: 0;
}

.car-background {
  background-image: url(../img/autumn.jpg);
  height: 100%;
  position: relative;
}

.top {
    transform: translateX(150px);
}

.top_left {
  display: inline-block;
  width: 200px;
  height: 170px;
  background-color: rgba(114, 82, 144, 0.4);
  /* margin-left: 200px; */
  border: 25px solid blueviolet;
  border-radius: 100% 0 0 0; 
border-bottom: 10px solid blueviolet;
}


.top_right {
  display: inline-block;
  width: 350px;
  height: 170px;
  background-color: blueviolet;
  border-radius: 0 10% 0 0;
}


.left {
  display: inline-block;
  width: 300px;
  height: 150px;
  background-color: red;
  border-radius: 50% 0 0 5%;
  position: relative;

}

.center {
  display: inline-block;
  width: 250px;
  height: 150px;
  background-color: red;
}

.right {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: red;
  position: relative;
}

.koleso {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    background-color: aliceblue;
    border-radius: 50%;
    border: 20px solid black;
    width: 120px;
    height: 120px;

}

.left .koleso {
    left: 70px;
}

.right .koleso {
    right: 70px;
}

